tokenizers==0.13.3
safetensors==0.4.2
pytz==2023.3.post1
zipp==3.17.0
xxhash==3.4.1
urllib3==1.26.18
tzdata==2023.4
typing_extensions==4.8.0
regex==2023.12.25
pyparsing==3.1.1
psutil==5.9.0
Pillow==10.1.0
numpy==1.26.3
multidict==6.0.5
kiwisolver==1.4.5
importlib-resources==6.1.1
fsspec==2023.10.0
frozenlist==1.4.1
fonttools==4.47.2
filelock==3.13.1
einops==0.7.0
cycler==0.12.1
click==8.1.7
charset-normalizer==2.0.4
certifi==2023.11.17
async-timeout==4.0.3
yarl==1.9.4
torch==2.2.0
pydantic==2.6.0
pyarrow==15.0.0
pandas==2.2.0
fire==0.5.0
tqdm==4.66.1
transformers==4.38.0
